/* Formatting */

.border {
    border: 2px solid greenyellow;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
}

.bg-121212 {
    background-color: #121212;
}

.bg-242424 {
    background-color: #242424;
}

.rounded {
    border-radius: 8px;
}

/* Element */

.invert {
    filter: invert(1);
}

.bold {
    font-weight: bold;
}

.logo-size-1 {
    width: 30px;
}

.logo-size-2 {
    width: 20px;
}

/* Spacing */

.m1 {
    margin: 10px;
}

.m2 {
    margin: 25px;
}

.p1 {
    padding: 10px;
}

.p2 {
    padding: 15px;
}